<!DOCTYPE html>
<html lang="en">
<head
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">>
  <meta charset="UTF-8">
  <title>ask</title>
</head>
<body>
  <form action="/answer" method="get">
    <input type="text" name="question" id="form" placeholder="Posez votre question">
    <input type="submit" value="ask" class="btn btn-lg btn-primary">
  </form>
</body>
</html>

